<div class="content-lg container" style="width: 900px">
  <br /><br /><br /><h1>New lesson</h1>

  <%= form_for @new_product, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name, required: true %>
  <%= f.label :price %><br />
  <%= f.number_field :price ,required: true  %>
  <%= f.label :deadline %><br />
  <%= f.date_field :deadline %>
  <%= f.label :description %><br />
  <%= f.text_area :description, size: "60x12", required: true %>
  <%= f.label :location_id %><br />
  <%= select_tag "Location", options_from_collection_for_select(Location.all, :id, :name), {:class=>'form-control', :prompt => 'Select Location'}  %>
  <%= f.label :category_id %><br />
  <%= select_tag "Category", options_from_collection_for_select(Category.all, :id, :name), {:class=>'form-control', :prompt => 'Select Category'}  %>
  <%= f.submit "Create" %>
<% end %>
</div>
