<!DOCTYPE html>
<html>
  <head>
    <title>Scrap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
      <div class="container w-container">
        <a href="#" class="logo w-nav-link">SCRAP</a>
        <a href="#" class="brand w-nav-brand"></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block">Categories</div>
            </div>
            <nav class="w-dropdown-list">
              <a href="#" class="w-dropdown-link">Link 1</a>
              <a href="#" class="w-dropdown-link">Link 2</a>
              <a href="#" class="w-dropdown-link">Link 3</a>
            </nav>
          </div>
        </nav>

        <form action="/search" class="search w-clearfix w-form" method="post">
          <input type="search" class="search-input w-input" maxlength="256" name="query" placeholder="Search…" id="search" required="">
          <input type="submit" value="Search" class="search-button w-button">
        </form>

        <%= form_tag(search_path method: :get) do %>
        <%= text_field_tag :name, params[:name] %>
        <%= submit_tag 'Search' %>
      <% end %>

      <nav role="navigation" class="nav-menu-2 w-clearfix w-nav-menu">
        <a href="#" class="link-4"></a><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" class="image-2">
        <% if user_signed_in? %>
          <a href="#" class="nav-link w-nav-link"><%= current_user.username %></a>
          |
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
          |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          |
          <a href="#" class="button w-button">Sell</a>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
          |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
        <% end %>

      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>

  <%= yield %>
</body>
</html>
